.window {
    position: absolute;
    background: black;
}

.titlebar {
    height: 20px;
    background: green;
}
.titlebar::after {
    content: "Titlebar";
}

.controlButtons, .close, .minimize, .maximize {
    float: right;
}
.close:after,.minimize:after,.maximize:after {
    content: "x";
}

.titlebar {
    margin-left: 4px;
    margin-top: 4px;
    margin-right: 4px;
}
.windowBody {
    width: 400px;
    height: 300px;
    background: red;

    margin-left: 4px;
    margin-top: 4px;
    margin-right: 4px;
    margin-bottom: 4px;
}