.wallpaper {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-image: url(assets/wallpaper-apple.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* background-position-x: -700px; */
}
.taskbar, .task-btn, .task-active {
    --size: 64px;
}

.taskbar {
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translateX(-50%);
    width: auto;
    height: var(--size);
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8px);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    box-shadow: 0px 0px 30px 4px rgba(0, 0, 0, 0.5);
}

.task-hover:active {
    filter: brightness(0.7);
}
.task-btn {
    float: left;
    height: 100%;
    width: var(--size);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
}
.task-apps {
    height: 100%;
    float: left;
}
.task-active::after {
    position: absolute;
    bottom: 0px;
    margin-left: calc(calc(var(--size)/2) - 4px);
    border-radius: 100%;
    background: rgba(0, 0, 0, 0.6);
    height: 8px;
    content: '';
    width: 8px;
}

.window {
    overflow: hidden;
    position: absolute;
    left: 0px;
    top: 0px;

    width: 100px;
    height: 100px;
    background: white;
}
