* {
    border:0px;
    margin:0px;
    padding:0px;
    border-spacing: 0px;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background: gray;
    resize: none;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.windowBody {
    resize: both;
    overflow:auto;
}

.desktop {
    background: red;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.wallpaper {
    width: 100%;
    height: 100%;
    background-image: url(wallpaper-win.jpg);
    background-position-y: center;
    flex-grow: 10;
}

.taskbar {
    overflow: hidden;
    background: #333;
    width: 100%;
    height: 48px;
    box-shadow: 0px 0px 2px 2px #555;
}

.startwin {
    height: 100%;
    width: 38px;
    background: url(start-win.svg) no-repeat;
    background-position: center;
    background-size: 38px;
    padding-left: 8px;
    padding-right: 8px;
}
.startwin:hover {
    transition: 0.3s;
    height: 100%;
    width: 38px;
    background: url(start-win.svg) no-repeat, rgba(255, 255, 255, 0.219);
    background-position: center;
    background-size: 38px;
    padding-left: 8px;
    padding-right: 8px;
}