.wallpaper {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-image: url(assets/wallpaper-win.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* background-position-x: -700px; */
}


.taskbar {
    position: absolute;
    background: rgb(12, 12, 12);
}

.task-btn {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 65%;
}
.task-hover:hover {
    background-color: rgba(255, 255, 255, 0.25);
}
.task-active {
    background-color: rgba(255, 255, 255, 0.15);
}
.task-show-desktop {
    background-color: rgba(255, 255, 255, 0.15);
}
.task-show-desktop:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.13);
}

.task-notifications {
    background-image: url(assets/win-notif.svg);
    background-size: 35%;
}

.task-calender {
    padding-top: 4px;
    padding-left: 4px;
    padding-right: 4px;
    color: white;
}

.task-tray {
    background-image: url(assets/win-notif.svg);
    background-size: 35%;
}



.panel-left.taskbar,
.panel-top.taskbar {
    left: 0px;
    top: 0px;
}
.panel-bottom.taskbar {
    left: 0px;
    bottom: 0px;
}
.panel-right.taskbar {
    right: 0px;
    top: 0px;
}

.panel-top.taskbar,
.panel-bottom.taskbar {
    height: 48px;
    width: 100%;
}
.panel-left.taskbar,
.panel-right.taskbar {
    width: 48px;
    height: 100%;
}

.panel-top.taskbar, 
.panel-top.taskbar .task-apps,
.panel-bottom.taskbar, 
.panel-bottom.taskbar .task-apps{
    display: flex;
    flex-direction: row;
}

.panel-left.taskbar, 
.panel-left .task-apps,
.panel-right.taskbar, 
.panel-right .task-apps{
    display: flex;
    flex-direction: column;
}

.panel-top .task-btn,
.panel-bottom .task-btn {
    width: 48px;
}
.panel-left .task-btn,
.panel-right .task-btn {
    height: 48px;
}



.panel-top .task-active {
    box-shadow: 0px 2px 0px 0px white inset;
}
.panel-bottom .task-active {
    box-shadow: 0px -2px 0px 0px white inset;
}
.panel-left .task-active {
    box-shadow: 3px 0px 0px 0px white inset;
}
.panel-right .task-active {
    box-shadow: -3px 0px 0px 0px white inset;
}

.panel-top .task-apps .task-btn,
.panel-bottom .task-apps .task-btn {
    margin-left: 4px;
}
.panel-left .task-apps .task-btn,
.panel-right .task-apps .task-btn {
    margin-top: 4px;
}


.panel-top .task-show-desktop,
.panel-bottom .task-show-desktop{
    width: 8px;
}
.panel-left .task-show-desktop,
.panel-right .task-show-desktop{
    height: 8px;
}

.panel-top .task-notifications,
.panel-bottom .task-notifications {
    width: 50px;
}
.panel-left .task-notifications,
.panel-right .task-notifications {
    height: 50px;
}

.panel-top .task-calender,
.panel-bottom .task-calender {
    width: 80px;
}
.panel-left .task-calender,
.panel-right .task-calender {
    height: 80px;
}


.panel-top .task-panel-divider-right,
.panel-bottom .task-panel-divider-right {
    margin-left: auto;
}
.panel-left .task-panel-divider-right,
.panel-right .task-panel-divider-right {
    margin-top: auto;
}




.window {
    overflow: hidden;
    position: absolute;
    left: 0px;
    top: 0px;

    width: 100px;
    height: 100px;
    background: white;
}