:root {
    --path: url(../assets/default.svg);
    --scale: 0.5;
}

.hoverable:hover {
    transition: 0.3s;
    background-color: #333;
}
.hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.invert {
    filter: invert();
}



/*
    PANEL
*/

.panel {
    background-color: #111;
    color: whitesmoke;
    position: absolute;

    bottom: 0px;
    width: 100%;
    height: var(--size);
}

.panel.vertical {
    --size: 32px;
    bottom: unset;
    height: 100%;
    width: unset;
    min-width: var(--size);
}





/*
    ICON
*/



div.icon {
    background-image: var(--path);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    /* --scale: 0.5; */
    height: calc(var(--size) * var(--scale));
    width: calc(var(--size) * var(--scale));  
}

img.icon {
    /* --scale: 0.5; */

    width: auto;
    height: calc(var(--size) * var(--scale));

    content: var(--path);
}

img.icon.horz {
    height: auto;
    width: calc(var(--size) * var(--scale));
}




/*
    CORTANA
*/

.cortana > textarea {
    resize: none;
    outline: none;
    font-size: medium;
}